@import "tailwindcss";

@theme {

  --color-primary: #F7F1EA;
  --color-secondary: #000000;
  --color-tertiary: #ffffff80;
}

/* Script font for logo-like text */
.font-script {
  font-family: 'Great Vibes', cursive;
}
